In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r'F:\FPT\DE_assignments\080824\SparkScripts\input\results\execution_statistics.csv')
df

,Execution Time (s),Number of Workers,Number of Partitions,Executor Cores,Executor Memory
0,85.880804,9,6,2.0,2g
1,84.570333,9,6,2.0,2g
2,83.843304,9,6,2.0,2g
3,84.423113,9,6,2.0,2g
4,81.579025,9,6,2.0,2g
5,85.293790,9,6,2.0,2g
6,76.162824,3,6,NaN,NaN
7,94.667048,18,6,2.0,NaN

In [4]:
df

,Execution Time (s),Number of Workers,Number of Partitions,Executor Cores,Executor Memory
0,85.880804,9,6,2,2g